{% extends 'base.html.twig' %}

{% block title %}Les Disponibilités{% endblock %}

{% block body %}




<div class="types-de-bien-cadre">
    <h1 class="my-4">Les disponibilités</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for uneDisponibilite in lesDisponibilites %}
  <div class="col">
    <div class="card">
      <img src="{{asset('images/vehicule/'~ uneDisponibilite.idvehicule.image)}}" class="card-img-top" alt="image de la voiture"/>
      <div class="card-body">
        <h5 class="card-title">Le véhicule {{uneDisponibilite.idvehicule.marque}}&nbsp;{{uneDisponibilite.idvehicule.modele}}</h5>
        <p>Il sera disponible du {{ uneDisponibilite.datedebut|date('d/m/Y') }} au {{ uneDisponibilite.datefin|date('d/m/Y') }}. 
        Le prix de la location sera de {{ uneDisponibilite.prixparjour }} € par jour.</p>
        {# <div class="d-flex">
          <form action="{{path('vehicule_modification', {'id': unVehicule.id})}}" style="margin-right: 2px">
            <input type="submit" class="btn btn-outline-primary" value="MODIFIER">
          </form>
          <form method="POST" action="{{path("vehicule_suppression", {'id': unVehicule.id})}}" onsubmit="return confirm('Confirmer la suppression?')">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="_token" value="{{csrf_token('sup'~ unVehicule.id)}}">
            <input type="submit" class="btn btn-outline-danger" value="SUPPRIMER">
          </form>
        </div> #}
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}